//====================================================================================================
.hero {
  position: relative;

  background-image: url("@img/hero/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (max-width: $mobile) {
    background-image: url("@img/hero/bg1.jpg");
  }

  &__container {
  }

  &__body {
    @include adaptiveValue("padding-top", 370, 180);
    @include adaptiveValue("padding-bottom", 160, 16);
  }

  &__guide {
    margin: 0 auto;
    @include adaptiveValue("margin-bottom", 160, 120);
  }

  &__button {
    margin: rem(16) auto 0 auto;
  }

  &__content {
    position: relative;

    @include adaptiveValue("padding-bottom", 16, 8);
    color: #fff;

    @media (min-width: $mobile) {
      width: max-content;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      height: rem(1);
      bottom: 0;
      right: 0;
      background-color: #fff;
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 160, 120);
    }

    &_left {
      text-align: end;
      margin-left: auto;

      &::before {
        left: 0;
        right: auto;
      }
    }
  }

  &__title {
    @include adaptiveValue("font-size", 18, 16);
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    max-width: rem(598);
    @include adaptiveValue("margin-bottom", 0, 4);
  }

  &__text {
    font-weight: 300;
    line-height: 150%;
    max-width: rem(550);
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

//====================================================================================================

.about {
  @include adaptiveValue("padding-top", 184, 120);
  @include adaptiveValue("padding-bottom", 80, 60);
  &__container {
  }

  &__body {
    background-image: url("@img/about/bg.png");
    background-repeat: no-repeat;
    background-size: 100%;

    @media (max-width: $mobile) {
      background-image: url("@img/about/bg1.png");
    }
  }

  &__title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: rem(8);
    @include adaptiveValue("font-size", 18, 16);
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;

    span {
      display: flex;
      align-items: center;
      column-gap: rem(8);

      &:not(:first-child) {
        &::before {
          content: "";
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #515151;
        }
      }
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: 150%;
    @include adaptiveValue("margin-top", 0, 4);
  }

  &__content {
    display: flex;
    @include adaptiveValue("gap", 20, 24);
    @include adaptiveValue("margin-top", 43, 24);

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__image-ibg {
    padding-bottom: percent(352, 1215);

    @media (min-width: $mobile) {
      flex: 0 0 rem(289);
      margin-top: rem(20);
    }
    @media (max-width: $mobile) {
      width: percent(269, 350);
      padding-bottom: 88.5%;
    }
  }

  &__textlines {
  }

  &__quote {
    max-width: rem(513);
    margin-left: auto;
    margin-top: rem(60);
    @media (max-width: $mobile) {
      margin-right: auto;
    }
    @media (min-width: $pc) {
      margin-top: rem(-15);
    }
  }
}

//========================================================================================================================================================

.makeup {
  @include adaptiveValue("padding-top", 80, 60);
  @include adaptiveValue("padding-bottom", 172, 120);
  &__container {
  }

  &__body {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 73, 45);
  }

  &__sliders {
    position: relative;
  }

  &__slider {
    max-width: rem(1005);
    margin: 0 auto;

    @media (max-width: $mobile) {
      display: none;
    }

    &_mobile {
      @media (min-width: $mobile) {
        display: none;
      }
      @media (max-width: $mobile) {
        display: block;
      }

      .makeup__slide img {
        margin: 0 auto;
        display: block;
      }
    }
  }

  &__wrapper {
  }

  &__slide {
  }

  &__pagination {
    @include adaptiveValue("margin-top", 60, 20);
  }

  &__navigation {
    position: absolute;
    top: rem(125);
    left: 0;

    @media (max-width: $pc) {
      display: none;
    }
  }
}

.slide-makeup {
  &__img {
    max-width: 100%;
  }
}

//========================================================================================================================================================

.course {
  background: rgba(231, 233, 228, 0.3);
  @include adaptiveValue("padding-top", 100, 48);
  @include adaptiveValue("padding-bottom", 100, 48);
  &__container {
  }

  &__body {
    display: flex;

    @media (max-width: $tablet) {
      column-gap: rem(20);
    }
    @media (max-width: $mobile) {
      flex-direction: column;
      gap: rem(45);
    }
  }

  &__content {
    flex: 0 0 percent(600, 1215);
  }

  &__title {
    @include adaptiveValue("margin-bottom", 48, 24);
  }

  &__textlines {
  }

  &__image {
    display: flex;
    column-gap: rem(55);
    @include adaptiveValue("column-gap", 55, 25, 0, 1215, 991);

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
      gap: rem(45);
    }
  }

  &__text {
    position: relative;
    color: #000;
    @include adaptiveValue("font-size", 18, 16);
    line-height: 150%;
    height: fit-content;

    &::before {
      font-size: rem(47);
      position: absolute;
      bottom: rem(-81);
      left: 0;

      @media (max-width: $mobile) {
        left: auto;
        bottom: auto;
        right: 0;
        top: rem(-66);
        transform: rotate(214deg) scale(-1, 1);
      }
    }
  }

  &__img {
  }

  &__quote {
    margin-top: rem(25);
    max-width: 701px;
    margin-left: auto;

    .quote__text {
      text-transform: uppercase;
    }
  }
}

//========================================================================================================================================================

.program {
  @include adaptiveValue("padding-top", 160, 120);
  @include adaptiveValue("padding-bottom", 160, 120);
  &__container {
  }

  &__maintitle {
    @include adaptiveValue("margin-bottom", 48, 24);
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(16);

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__col {
  }

  &__text {
    @include adaptiveValue("font-size", 18, 16);
    font-weight: 300;
    line-height: 150%;
    margin-bottom: rem(24);
    max-width: rem(515);

    p {
      &:not(:last-child) {
        margin-bottom: rem(24);
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(24);
    column-gap: rem(15);

    @media (max-width: $pc) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    column-gap: rem(15);
    &_new {
      position: relative;

      &::before {
        content: "";
        width: 165%;
        height: 1px;
        background-color: #515151;
        position: absolute;
        top: rem(-12);
        right: rem(80);

        @media (max-width: $pc) {
          right: rem(20);
        }
      }
    }
  }

  &__day {
    flex: 0 0 rem(67);
    @include adaptiveValue("font-size", 18, 16);
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;

    &_new {
      color: #aa2f1e;
    }
  }

  &__list {
  }

  &__line {
    font-weight: 300;
    line-height: 150%;
    max-width: rem(447);

    &:not(:last-child) {
      margin-bottom: rem(4);
    }
  }

  &__images {
    @media (min-width: $mobile) {
      display: none;
    }
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(20);
    margin: 0 rem(-20);
    margin-top: rem(48);
    margin-bottom: rem(24);
  }

  &__image-ibg {
    padding-bottom: percent(246, 185);
  }

  &__title {
    @include adaptiveValue("font-size", 18, 16);
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: rem(24);
    padding-top: rem(24);
  }

  &__img-ibg {
    padding-bottom: percent(783, 589);

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__quote {
    max-width: rem(558);
    margin-left: auto;
    @include adaptiveValue("margin-top", 88, 44);

    @media (max-width: $mobile) {
      margin-right: auto;
    }
  }
}

//========================================================================================================================================================

.reviews {
  background-image: url("@img/reviews/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include adaptiveValue("padding-top", 100, 48);
  @include adaptiveValue("padding-bottom", 100, 48);

  &__container {
  }

  &__body {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 16, 6);
  }

  &__sliders {
    position: relative;
  }

  &__slider {
    max-width: rem(1005);
    margin: 0 auto;

    @media (max-width: $mobile) {
      display: none;
    }

    &_mobile {
      @media (min-width: $mobile) {
        display: none;
      }
      @media (max-width: $mobile) {
        display: block;
      }

      .reviews__slide img {
        margin: 0 auto;
        display: block;
      }
    }
  }

  &__wrapper {
  }

  &__pagination {
    @include adaptiveValue("margin-top", 45, 20);
  }

  &__navigation {
    position: absolute;
    top: rem(125);
    left: 0;

    @media (max-width: $pc) {
      display: none;
    }
  }

  &__slide {
  }
}

.slide-reviews {
  &__img {
    max-width: 100%;
  }
}

//========================================================================================================================================================

.works {
  @include adaptiveValue("padding-top", 160, 120);
  @include adaptiveValue("padding-bottom", 160, 120);
  &__container {
  }

  &__body {
    @media (min-width: $mobile) {
      display: flex;
      column-gap: rem(20);
    }
  }

  &__slider {
    position: relative;
    flex: 0 1 rem(495);
    min-width: 0;

    @media (max-width: $mobile) {
      margin: 0 rem(-20);
      padding: 0 rem(20);
    }
  }

  &__wrapper {
  }

  &__slide {
  }

  &__text {
    user-select: none;
    display: flex;
    align-items: center;
    column-gap: rem(24);
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    white-space: nowrap;

    @media (min-width: $mobile) {
      position: absolute;
    }

    @media (max-width: $mobile) {
      padding: rem(24) 0;
      transform: translateX(-20%);
    }

    &_hide {
      @media (min-width: $mobile) {
        display: none;
      }
    }
  }

  &__pagination {
    @media (min-width: $mobile) {
      margin-top: rem(48);
    }
  }

  &__navigation {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__photos {
    display: grid;
    grid-template-columns: percent(186, 701) percent(263, 701) percent(212, 701);
    column-gap: rem(20);
    flex-shrink: 1;

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__photo {
    &:nth-child(2) {
      margin-top: rem(76);
    }

    img {
      max-width: 100%;
    }
  }
}

.slide-works-ibg {
  padding-bottom: percent(596, 495);

  @media (max-width: $mobile) {
    padding-bottom: percent(460, 350);
  }
}

//========================================================================================================================================================
