//====================================================================================================
.hero {
  position: relative;

  background-image: url("@img/hero/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (max-width: $mobile) {
    background-image: url("@img/hero/bg1.jpg");
  }

  &__container {
  }

  &__body {
    @include adaptiveValue("padding-top", 370, 180);
    @include adaptiveValue("padding-bottom", 160, 16);
  }

  &__guide {
    margin: 0 auto;
    @include adaptiveValue("margin-bottom", 160, 120);
  }

  &__button {
    margin: rem(16) auto 0 auto;
  }

  &__content {
    position: relative;

    @include adaptiveValue("padding-bottom", 16, 8);
    color: #fff;

    @media (min-width: $mobile) {
      width: max-content;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      height: rem(1);
      bottom: 0;
      right: 0;
      background-color: #fff;
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 160, 120);
    }

    &_left {
      text-align: end;
      margin-left: auto;

      &::before {
        left: 0;
        right: auto;
      }
    }
  }

  &__title {
    @include adaptiveValue("font-size", 18, 16);
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    max-width: rem(598);
    @include adaptiveValue("margin-bottom", 0, 4);
  }

  &__text {
    font-weight: 300;
    line-height: 150%;
    max-width: rem(550);
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

//====================================================================================================

.about {
  @include adaptiveValue("padding-top", 184, 120);
  @include adaptiveValue("padding-bottom", 80, 60);
  &__container {
  }

  &__body {
    background-image: url("@img/about/bg.png");
    background-repeat: no-repeat;
    background-size: 100%;

    @media (max-width: $mobile) {
      background-image: url("@img/about/bg1.png");
    }
  }

  &__title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: rem(8);
    @include adaptiveValue("font-size", 18, 16);
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;

    span {
      display: flex;
      align-items: center;
      column-gap: rem(8);

      &:not(:first-child) {
        &::before {
          content: "";
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #515151;
        }
      }
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: 150%;
    @include adaptiveValue("margin-top", 0, 4);
  }

  &__content {
    display: flex;
    @include adaptiveValue("gap", 20, 24);
    @include adaptiveValue("margin-top", 43, 24);

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__image-ibg {
    padding-bottom: percent(352, 1215);

    @media (min-width: $mobile) {
      flex: 0 0 rem(289);
      margin-top: rem(20);
    }
    @media (max-width: $mobile) {
      width: percent(269, 350);
      padding-bottom: 88.5%;
    }
  }

  &__textlines {
  }

  &__quote {
    max-width: rem(513);
    margin-left: auto;
    margin-top: rem(60);
    @media (max-width: $mobile) {
      margin-right: auto;
    }
    @media (min-width: $pc) {
      margin-top: rem(-15);
    }
  }
}

//========================================================================================================================================================
